
$bodyColor: #ffffff;
$ctaColor: #365956;
$navigationColor: #f2f2f2;
$navigationItemColor: #707070;;
$navigationItemHoverColor: #000;
$textPrimaryColor: #1d1d1f;
$textSecondaryColor: #6E6E73;
$buttonRadius: 5px;