@import "./colors.scss";


.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top:120px;
    margin-bottom: 50px;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -50px;
        left: 0;
        border-top: 1px solid #e1e1e1;
        margin: 0 40px;
        width: calc(100% - 80px);
      }
    
    &_photo {
        width: 50%;
        height: 400px;
        background-image: url('../img/kitchen.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin-right: 40px;

    }
    
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        // height: 500px;
        padding: 40px;

        h1 {
            font-weight: 800;
            color: $ctaColor;
            font-size: 56px;
            margin: 20px 0;
        }

        p {
            color:$textSecondaryColor;
            line-height: 25px;
            padding-right: 70px;
        }

        &_buttons {
            display: flex;
            text-transform: uppercase;

            a {
                width: 250px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: white;
                background-color: $ctaColor;
                margin: 40px 0;
                border: none;
                border-radius: $buttonRadius;
                font-weight: 800;
                font-size: 15px;
                margin-right: 40px;
                cursor: pointer;
                text-decoration: none;
            }

            a:nth-child(2) {
                background-color: white;
                color: $ctaColor;
                border: 1px solid $ctaColor;
            }
        }


    }
}

@media screen and (max-width: 900px) {
    .header {
        flex-direction: column-reverse;
        margin-top: 80px;
        margin-bottom: 0;

        &::after {
            bottom: 25px;
        }


        &_text {
            justify-content: center;
            width: 100%;
            margin-left: 0;
            font-size: 15px;
            padding: 35px;

            &_buttons {
                a {
                    font-size: 12px;
                    margin-right: 10px;
                    width: 100%;
                }
            }

            h1 {
                font-size: 35px;
                text-align: left;
            }

            p  {
                text-align: left;
            }
        }

        &_photo {
            height: 50vw;
            width: 100%;
            background-image: url('../img/mini/kitchen-mini.jpg');
            margin-top: 0px;
            border-radius: 0;
            margin-right: 0;
        }
    }
}