@import "./colors.scss";

.realization {
    width: 1444px;
    margin: 40px auto;

    &_box {
        display: flex;
        margin: 40px 0;

        &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 40px;

            h2 {
                font-size: 30px;
                margin-bottom: 50px;
                color: $textPrimaryColor;
                font-weight: 400;
            }

            p {
                color: $textSecondaryColor;
                font-weight: 200;
                line-height: 2;
            }
        }

        &_image {
            width: 50%;
            padding: 0 40px;

            a {
                img {
                    border-radius: 5px;
                }
            }
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }


    img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    .realization {

        width: 100%;

        &_box {
            flex-direction: column;
            width: 100%;

            &_info {
                width: 100%;
                padding: 20px;
            }

            &_image {
                width: 100%;
                padding: 20px;
            }

            &:nth-child(2n) {
                flex-direction: column;
            }
        }

    }
}