@import "./colors.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";





.review {
    max-width: 1400px;
    margin: 0 auto;
    
    font-family: "Montserrat", sans-serif;
    
    &_image {
        margin: 0 40px;

    }
}

.glide__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin-right: 40px;

    color: $textSecondaryColor;
    h2 {
        font-weight: 600;
        margin-bottom: 30px;
        text-align: right;
    }

    span {
        line-height: 1.6;
        height: 300px;
    }
    img {
        width: 40%;
        border-radius: 5px;
    }

}

.glide__slides {
    // important needed because this is set using the style attribute
    transform: translate3d(0, 0, 0) !important;
}

.glide__slide {
    position: absolute;
    top: 0;
    left: 0;
    order: 2;
    opacity: 0;
    transition: opacity 1250ms ease-in-out;
}

.glide__slide.glide__slide--active {
    position: relative;
    order: 1;
    opacity: 1;
    z-index: 1;
}

.glide__slide_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50%;
    max-width: 700px;
    padding: 40px;
}

@media screen and (max-width: 900px) {

    .glide__slide {
        flex-direction: column-reverse;
    }


}