@import './assets/style/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bodyColor;
}

@font-face {
  font-family: "myFirstFont";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}